---
# {{ ansible_managed }}

x-restart: &restart unless-stopped
x-pull_policy: &pull_policy always

name: &name joplin

services:
  joplin:
    container_name: joplin
    image: joplin/server:latest
    pull_policy: *pull_policy
    restart: *restart
    environment:
      - APP_PORT=22300
      - APP_BASE_URL=https://joplin.{{ vault_base_domain }}
      - DB_CLIENT=pg
      - POSTGRES_PASSWORD={{ vault_nextcloud.db_password }}
      - POSTGRES_DATABASE=joplin
      - POSTGRES_USER=joplin
      - POSTGRES_PORT=5432
      - POSTGRES_HOST=postgres-joplin
      - STORAGE_DRIVER=Type=Filesystem; Path=/data
    volumes:
      - "{{ joplin.data }}:/data"
    ports:
      - 22300:22300
    depends_on:
      - postgres-joplin
    networks:
      - default
      - caddy

  postgres-joplin:
    container_name: postgres-joplin
    image: postgres:16-alpine
    pull_policy: *pull_policy
    restart: *restart
    environment:
      - POSTGRES_PASSWORD={{ vault_nextcloud.db_password }}
      - POSTGRES_USER=joplin
      - POSTGRES_DB=joplin
    volumes:
      - postgres-joplin-data:/var/lib/postgresql/data
    ports:
      - 5432:5432

volumes:
  joplin-config:
    name: joplin-config
  postgres-joplin-data:
    name: postgres-joplin-data

networks:
  default:
    name: *name
    ipam:
      config:
        - subnet: "{{ joplin.subnet }}"
  caddy:
    name: caddy
    external: true
