# {{ ansible_managed }}

[Unit]
Description=Automatic shutdown service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl poweroff --when=+5s

[Install]
WantedBy=multi-user.target
