# {{ ansible_managed }}

[Unit]
Description=Execute maintain-off script once after boot
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/maintain-off.sh

[Install]
WantedBy=multi-user.target
