#!/usr/bin/sh

# {{ ansible_managed }}

# Get the current locale time in format HHMMSS to use it as an number
current_time=$(/usr/bin/date +"%H%M%S")

# Get the current day number
current_day=$(/usr/bin/date +%u)

# Check the day and time correspondance and turn the PC off accordingly
case $current_day in
    # Monday-Thursday: Forbidden range 00h00-08h00 and 23h00-24h00
    1|2|3|4)
        if [ $current_time -le 080000 ] || [ $current_time -ge 230000 ] ;
            then
                /usr/bin/systemctl poweroff --when=+30s
            fi
        ;;
    # Friday: Forbidden range 00h00-08h00
    5)
            if [ $current_time -le 080000 ] ;
            then
                /usr/bin/systemctl poweroff --when=+30s
            fi
        ;;
    # Saturday: Forbidden range 02h00-08h00
    6)
            if [ $current_time -ge 020000 ] && [ $current_time -le 080000 ] ;
            then
                /usr/bin/systemctl poweroff --when=+30s
            fi
        ;;
    # Sunday: Forbidden range 02h00-08h00 and 23h00-24h00
    *)
            if [ $current_time -ge 020000 ] && [ $current_time -le 080000 ] || [ $current_time -ge 230000 ] ;
            then
                /usr/bin/systemctl poweroff --when=+30s
            fi
        ;;
esac
