# {{ ansible_managed }}

[Unit]
Description=Custom docker image updater service
After=network.target

[Service]
Type=oneshot
ExecStart={{ xdg_bin_home | replace('$HOME', ansible_env.HOME) }}/custom-docker-image-updater.sh

[Install]
WantedBy=multi-user.target
