---
# {{ ansible_managed }}

x-restart: &restart unless-stopped
x-puid: &puid PUID={{ ansible_user_uid }}
x-pgid: &pgid PGID={{ ansible_user_gid }}
x-tz: &tz TZ={{ timezone }}
x-data: &data "{{ media_server.data }}:/data"
x-media: &media "{{ media_server.data }}/media:/data/media"
x-torrents: &torrents "{{ media_server.data }}/torrents:/data/torrents"

name: &name media-server

services:
  bazarr-anime: &bazarr
    container_name: bazarr-anime
    image: lscr.io/linuxserver/bazarr:latest
    restart: *restart
    ports:
      - 6767:6767
    environment:
      - *puid
      - *pgid
      - *tz
    volumes:
      - *media
      - bazarr-anime-config:/config

  bazarr-live-1080p:
    <<: *bazarr
    container_name: bazarr-live-1080p
    ports:
      - 6768:6767
    volumes:
      - *media
      - bazarr-live-1080p-config:/config

  bazarr-live-2160p:
    <<: *bazarr
    container_name: bazarr-live-2160p
    ports:
      - 6769:6767
    volumes:
      - *media
      - bazarr-live-2160p-config:/config

  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    restart: *restart
    ports:
      - 8191:8191
    environment:
      - *tz

  jellyfin:
    container_name: jellyfin
    image: lscr.io/linuxserver/jellyfin:latest
    restart: *restart
    ports:
      - 8096:8096
    environment:
      - *puid
      - *pgid
      - *tz
      - DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
    volumes:
      - *media
      - jellyfin-config:/config
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    group_add:
      - "{{ render_gid }}"

  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    restart: *restart
    ports:
      - 9696:9696
    environment:
      - *puid
      - *pgid
      - *tz
    volumes:
      - prowlarr-config:/config

  qbittorrent:
    container_name: qbittorrent
    build:
      pull: true
      context: qbittorrent-wireguard
      dockerfile: Dockerfile
    restart: *restart
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
      - 51820:51820/udp
    environment:
      - *puid
      - *pgid
      - *tz
      - WEBUI_PORT=8080
    volumes:
      - *torrents
      - qbittorrent-config:/config
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
    privileged: true
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1

  radarr-anime: &radarr
    container_name: radarr-anime
    image: lscr.io/linuxserver/radarr:latest
    restart: *restart
    ports:
      - 7878:7878
    environment:
      - *puid
      - *pgid
      - *tz
    volumes:
      - *data
      - radarr-anime-config:/config

  radarr-live-1080p:
    <<: *radarr
    container_name: radarr-live-1080p
    ports:
      - 7879:7878
    volumes:
      - *data
      - radarr-live-1080p-config:/config

  radarr-live-2160p:
    <<: *radarr
    container_name: radarr-live-2160p
    ports:
      - 7880:7878
    volumes:
      - *data
      - radarr-live-2160p-config:/config

  recyclarr:
    container_name: recyclarr
    image: ghcr.io/recyclarr/recyclarr:latest
    restart: *restart
    volumes:
      - recyclarr-config:/config
    environment:
      - *tz
      - RECYCLARR_CREATE_CONFIG=true
    user: "{{ ansible_user_uid }}:{{ ansible_user_gid }}"

  sonarr-anime: &sonarr
    container_name: sonarr-anime
    image: lscr.io/linuxserver/sonarr:latest
    restart: *restart
    ports:
      - 8989:8989
    environment:
      - *puid
      - *pgid
      - *tz
    volumes:
      - *data
      - sonarr-anime-config:/config

  sonarr-live-1080p:
    <<: *sonarr
    container_name: sonarr-live-1080p
    ports:
      - 8990:8989
    volumes:
      - *data
      - sonarr-live-1080p-config:/config

  sonarr-live-2160p:
    <<: *sonarr
    container_name: sonarr-live-2160p
    ports:
      - 8991:8989
    volumes:
      - *data
      - sonarr-live-2160p-config:/config

volumes:
  bazarr-anime-config:
    name: bazarr-anime-config
  bazarr-live-1080p-config:
    name: bazarr-live-1080p-config
  bazarr-live-2160p-config:
    name: bazarr-live-2160p-config
  jellyfin-config:
    name: jellyfin-config
  prowlarr-config:
    name: prowlarr-config
  qbittorrent-config:
    name: qbittorrent-config
  radarr-anime-config:
    name: radarr-anime-config
  radarr-live-1080p-config:
    name: radarr-live-1080p-config
  radarr-live-2160p-config:
    name: radarr-live-2160p-config
  recyclarr-config:
    name: recyclarr-config
  sonarr-anime-config:
    name: sonarr-anime-config
  sonarr-live-1080p-config:
    name: sonarr-live-1080p-config
  sonarr-live-2160p-config:
    name: sonarr-live-2160p-config

networks:
  default:
    name: *name
    ipam:
      config:
        - subnet: "{{ media_server.subnet }}"
