{
    email {{ vault_reverse_proxy.email }}
}

nextcloud.{{ vault_reverse_proxy.base_domain }} {
    redir /.well-known/carddav /remote.php/dav/ 301
    redir /.well-known/caldav /remote.php/dav/ 301

    reverse_proxy nextcloud:80
}
