#!/bin/sh
ip route add {{ home_local_network }} via $(ip route | grep default | awk '{print $3}')
iptables -I OUTPUT ! -o $1 -m mark ! --mark $(wg show $1 fwmark) -m addrtype ! --dst-type LOCAL ! -d {{ home_local_network }} -j REJECT
ip6tables -I OUTPUT ! -o $1 -m mark ! --mark $(wg show $1 fwmark) -m addrtype ! --dst-type LOCAL -j REJECT
iptables -I OUTPUT -d {{ media_server_subnet }} -j ACCEPT
