# {{ ansible_managed }}

[Interface]
# Device: {{ media_server_vault_wireguard_conf.device_name }}
PrivateKey = {{ media_server_vault_wireguard_conf.private_key }}
Address = {{ media_server_vault_wireguard_conf.address }}
DNS = {{ media_server_vault_wireguard_conf.dns }}
MTU = {{ media_server_vault_wireguard_conf.mtu }}
ListenPort = {{ media_server_wireguard_port }}
PostUp = sh /etc/wireguard/post_up.sh %i
PreDown = sh /etc/wireguard/pre_down.sh %i

{% for peer in media_server_vault_wireguard_conf.peers %}
[Peer]
PublicKey = {{ peer.public_key }}
PresharedKey = {{ peer.preshared_key }}
AllowedIPs = {{ peer.allowed_ip }}
Endpoint = {{ peer.endpoint }}
PersistentKeepalive = {{ peer.persistent_keepalive }}

{% endfor %}
