# {{ ansible_managed }}

[Interface]
# Device: {{ vault_wireguard.device_name }}
PrivateKey = {{ vault_wireguard.private_key }}
Address = {{ vault_wireguard.address }}
DNS = {{ vault_wireguard.dns }}
PostUp = ip route add {{ home_local_network }} via $(ip route | grep default | awk '{print $3}') && iptables -I OUTPUT ! -o %i -m mark ! --mark $(wg show %i fwmark) -m addrtype ! --dst-type LOCAL ! -d {{ home_local_network }} -j REJECT && iptables -I OUTPUT -d {{ media_server_subnet }} -j ACCEPT
PreDown = iptables -D OUTPUT -d {{ media_server_subnet }} -j ACCEPT && iptables -D OUTPUT ! -o %i -m mark ! --mark $(wg show %i fwmark) -m addrtype ! --dst-type LOCAL ! -d {{ home_local_network }} -j REJECT && ip route del {{ home_local_network }} via $(ip route | grep default | awk '{print $3}')

{% for peer in vault_wireguard.peers %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ip }}
Endpoint = {{ peer.endpoint }}

{% endfor %}
