---
# {{ ansible_managed }}

x-restart: &restart unless-stopped
x-pull_policy: &pull_policy always
x-puid: &puid PUID={{ ansible_user_uid }}
x-pgid: &pgid PGID={{ ansible_user_gid }}
x-tz: &tz TZ={{ timezone }}

name: &name nextcloud

services:
  nextcloud:
    container_name: nextcloud
    image: lscr.io/linuxserver/nextcloud:latest
    pull_policy: *pull_policy
    restart: *restart
    environment:
      - *puid
      - *pgid
      - *tz
    volumes:
      - nextcloud-config:/config
      - "{{ nextcloud.data }}:/data"
    ports:
      - 9443:443
    depends_on:
      - mariadb-nextcloud
    networks:
      - default
      - caddy

  mariadb-nextcloud:
    container_name: mariadb-nextcloud
    image: lscr.io/linuxserver/mariadb:latest
    pull_policy: *pull_policy
    restart: *restart
    environment:
      - *puid
      - *pgid
      - *tz
      - MYSQL_USER=nextcloud
      - MYSQL_ROOT_PASSWORD={{ vault_nextcloud.db_root_password }}
      - MYSQL_PASSWORD={{ vault_nextcloud.db_password }}
      - MYSQL_DATABASE=nextcloud
    volumes:
      - mariadb-nextcloud-config:/config
    ports:
      - 3306:3306

volumes:
  nextcloud-config:
    name: nextcloud-config
  mariadb-nextcloud-config:
    name: mariadb-nextcloud-config

networks:
  default:
    name: *name
    ipam:
      config:
        - subnet: "{{ nextcloud.subnet }}"
  caddy:
    name: caddy
    external: true
