# {{ ansible_managed }}

# Disable greeting
set -g fish_greeting

# Environment variables
{% for var in home_env_vars %}
set -gx {{ var }}
{% endfor %}
{% if host_env_vars is defined %}
{% for var in host_env_vars %}
set -gx {{ var }}
{% endfor %}
{% endif %}

# Update path
fish_add_path {{ home_path | join(" ") }}

# Load bash like functionalities
fish_user_key_bindings
