# {{ ansible_managed }}

if status is-interactive
    abbr -a ls "ls -l"
    abbr -a mkdir "mkdir -vp"
    abbr -a cp "cp -v"
    abbr -a mv "mv -v"
    abbr -a rm "rm -v"
    abbr -a sudo "sudo -sE"
    abbr -a bye "sudo systemctl poweroff"
    abbr -a reboot "sudo systemctl reboot"
    abbr -a watch "watch -n 1"
    abbr -a sai "sudo apt install"
    abbr -a sau "sudo apt update"
    abbr -a sap "sudo apt purge"
    abbr -a saap "sudo apt autopurge"
    abbr -a safu "sudo apt full-upgrade"
    abbr -a kubectl "minikube kubectl --"
end
