---
# {{ ansible_managed }}

x-restart: &restart unless-stopped
x-pull_policy: &pull_policy always
x-puid: &puid PUID={{ ansible_user_uid }}
x-pgid: &pgid PGID={{ ansible_user_gid }}
x-tz: &tz TZ={{ timezone }}
x-data: &data "{{ media_server.data }}:/data"
x-media: &media "{{ media_server.data }}/media:/data/media"
x-torrents: &torrents "{{ media_server.data }}/torrents:/data/torrents"

name: &name media-server

services:
  bazarr:
    container_name: bazarr
    image: lscr.io/linuxserver/bazarr:latest
    pull_policy: *pull_policy
    restart: *restart
    ports:
      - 6767:6767
    environment:
      - *puid
      - *pgid
      - *tz
    volumes:
      - *media
      - bazarr-config:/config

  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    pull_policy: *pull_policy
    restart: *restart
    ports:
      - 8191:8191
    environment:
      - *tz

  jellyfin:
    container_name: jellyfin
    image: lscr.io/linuxserver/jellyfin:latest
    pull_policy: *pull_policy
    restart: *restart
    ports:
      - 8096:8096
    environment:
      - *puid
      - *pgid
      - *tz
      - DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
    volumes:
      - *media
      - jellyfin-config:/config
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    group_add:
      - "{{ render_gid }}"
    networks:
      - default
      - caddy

  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    pull_policy: *pull_policy
    restart: *restart
    ports:
      - 9696:9696
    environment:
      - *puid
      - *pgid
      - *tz
    volumes:
      - prowlarr-config:/config

  qbittorrent-wireguard:
    container_name: qbittorrent-wireguard
    build:
      pull: true
      context: qbittorrent-wireguard
      dockerfile: Dockerfile
    image: qbittorrent-wireguard:local
    pull_policy: build
    restart: *restart
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
      - 51820:51820/udp
    environment:
      - *puid
      - *pgid
      - *tz
      - WEBUI_PORT=8080
    volumes:
      - *torrents
      - qbittorrent-wireguard-config:/config
    labels:
      - "diun.enable=false"
    privileged: true
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1

  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    pull_policy: *pull_policy
    restart: *restart
    ports:
      - 7878:7878
    environment:
      - *puid
      - *pgid
      - *tz
    volumes:
      - *data
      - radarr-config:/config

  recyclarr:
    container_name: recyclarr
    image: ghcr.io/recyclarr/recyclarr:latest
    pull_policy: *pull_policy
    restart: *restart
    volumes:
      - recyclarr-config:/config
    environment:
      - *tz
      - RECYCLARR_CREATE_CONFIG=true
    user: "{{ ansible_user_uid }}:{{ ansible_user_gid }}"

  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:latest
    pull_policy: *pull_policy
    restart: *restart
    ports:
      - 8989:8989
    environment:
      - *puid
      - *pgid
      - *tz
    volumes:
      - *data
      - sonarr-config:/config

volumes:
  bazarr-config:
    name: bazarr-config
  jellyfin-config:
    name: jellyfin-config
  prowlarr-config:
    name: prowlarr-config
  qbittorrent-wireguard-config:
    name: qbittorrent-wireguard-config
  radarr-config:
    name: radarr-config
  recyclarr-config:
    name: recyclarr-config
  sonarr-config:
    name: sonarr-config

networks:
  default:
    name: *name
    ipam:
      config:
        - subnet: "{{ media_server.subnet }}"
  caddy:
    name: caddy
    external: true
